@font-face {
    font-family: 'Milky Coffee';
    src: url('/fonts/MilkyCoffee.woff2') format('woff2'),
        url('/fonts/MilkyCoffee.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}